Projeto faturas.json
{
  "name": "Projeto faturas",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "password": "09054"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        896,
        480
      ],
      "id": "c54d6c5f-e760-43c6-8677-d6125ac2e41c",
      "name": "Extract from File",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"tipo_doc\": {\n  \"type\": \"string\",\n  \"enum\": [\"boleto\", \"nota_fiscal\", \"fatura\", \"fatura/boleto\", \"nota_fiscal/boleto\"],\n  \"description\": \"Analise TODAS as páginas do documento e classifique: 1) 'boleto' se o documento inteiro for apenas um boleto bancário com linha digitável, sem outras páginas com detalhamento de serviços ou nota fiscal. 2) 'nota_fiscal' se o documento inteiro for apenas uma nota fiscal ou nota de débito, sem linha digitável bancária. 3) 'fatura' se o documento for apenas uma cobrança de serviços sem linha digitável e sem nota fiscal. 4) 'fatura/boleto' se o documento se identificar explicitamente como fatura (ex: 'FATURA UNIFICADA', 'SUA FATURA', 'FATURA DETALHADA') em uma ou mais páginas E contiver boleto com linha digitável como forma de pagamento. 5) 'nota_fiscal/boleto' se a primeira página for exclusivamente um boleto bancário avulso E a segunda página for uma nota fiscal ou NFCom separada, sem o documento se identificar como fatura.\"\n},\n    \"CNPJ_fornecedor\": {\n      \"type\": \"string\",\n      \"description\": \"Retorne o CNPJ do fornecedor.\"\n    },\n    \"razao_social_fornecedor\": {\n      \"type\": \"string\",\n      \"description\": \"Retorne a razão social do fornecedor.\"\n    },\n    \"razao_social_sacado\": {\n      \"type\": \"string\",\n      \"description\": \"Retorne a razão social do sacado (Inbrands ou Tommy).\"\n    },\n    \"CNPJ_sacado\": {\n      \"type\": \"string\",\n      \"description\": \"Retorne o CNPJ do sacado.\"\n    },\n    \"endereco_fatura\": {\n      \"type\": \"string\",\n      \"description\": \"Retorne o endereço completo do destinatário/sacado conforme consta na fatura, no formato: Logradouro, Número, Complemento (se houver), Bairro, CEP, Cidade, UF.\"\n    },\n    \"endereco_instalacao\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Retorne o endereço do local de instalação ou entrega somente se estiver explicitamente destacado no documento como 'Endereço de Instalação', 'Local de Entrega' ou similar, no formato: Logradouro, Número, Complemento (se houver), Bairro, CEP, Cidade, UF. Se não houver, retorne null.\"\n    },\n    \"numero_fatura/numero NF\": {\n      \"type\": \"string\",\n      \"description\": \"Retorne o número do documento seguindo esta prioridade: 1) Se existir o campo 'Número da Fatura' ou 'Nº da Fatura', retorne esse valor. 2) Se não existir, retorne o número identificado como 'NOTA FISCAL Nº', 'Nº NFCOM' ou similar. Ignore campos chamados 'Código', 'Número da Conta', 'Nosso Número', 'Número Doc.', 'Número do Documento' e qualquer número associado ao boleto bancário.\"\n    },\n    \"emissao\": {\n      \"type\": \"string\",\n      \"description\": \"Retorne a data de emissão.\"\n    },\n    \"valor\": {\n      \"type\": \"string\",\n      \"description\": \"Retorne o valor total a pagar.\"\n    },\n    \"vencimento\": {\n      \"type\": \"string\",\n      \"description\": \"Retorne a data de vencimento.\"\n    },\n    \"referencia\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Retorne a referência quando estiver destacada na fatura ou nota.\"\n    },\n    \"contrato\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Retorne o contrato quando estiver destacado na fatura ou nota.\"\n    },\n    \"codigo_barra\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Retorne apenas os números do código de barras da fatura quando estiver presente.\"\n    }\n  },\n  \"required\": [\n    \"CNPJ_fornecedor\",\n    \"razao_social_fornecedor\",\n    \"razao_social_sacado\",\n    \"CNPJ_sacado\",\n    \"endereco_fatura\",\n    \"numero_fatura\",\n    \"emissao\",\n    \"valor\",\n    \"vencimento\",\n    \"contrato\",\n    \"referencia\",\n    \"contrato\",\n    \"codigo_barra\"\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1568,
        480
      ],
      "id": "7190947f-ebc8-48ec-8add-4893fe1cb133",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1648,
        704
      ],
      "id": "6c6f4b83-0149-4530-9dfc-0ef9abb1adf0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fI1w759unI7eXoch",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51918d1c-f13f-4287-96f4-18168b51eccb",
              "name": "tipo_doc",
              "value": "={{ $json.output.tipo_doc }}",
              "type": "string"
            },
            {
              "id": "a7869451-8395-4d59-b56b-aa6e45205f9c",
              "name": "CNPJ_fornecedor",
              "value": "={{ $json.output.CNPJ_fornecedor }}",
              "type": "string"
            },
            {
              "id": "2d026e28-d4f7-495a-8bf5-1b7f6b4cd5c8",
              "name": "razao_social_fornecedor",
              "value": "={{ $json.output.razao_social_fornecedor }}",
              "type": "string"
            },
            {
              "id": "7950805b-2770-4070-81db-af7f0460d62e",
              "name": "razao_social_sacado",
              "value": "={{ $json.output.razao_social_sacado }}",
              "type": "string"
            },
            {
              "id": "09bb843b-aa10-4814-84f2-02f8af68e9d6",
              "name": "CNPJ_sacado",
              "value": "={{ $json.output.CNPJ_sacado }}",
              "type": "string"
            },
            {
              "id": "91dcffdf-3090-4822-8cd3-12bfdb15510f",
              "name": "endereco_fatura",
              "value": "={{ $json.output.endereco_fatura }}",
              "type": "string"
            },
            {
              "id": "b01d18d8-3d14-4a38-924e-f9b6fda5936c",
              "name": "endereco_instalacao",
              "value": "={{ $json.output.endereco_instalacao }}",
              "type": "string"
            },
            {
              "id": "a5961510-fc3f-4bac-b939-befe864cc506",
              "name": "numero_fatura/numero NF",
              "value": "={{ $json.output['numero_fatura/numero NF'] }}",
              "type": "string"
            },
            {
              "id": "702a1fac-ea2a-4b73-b0e1-3ea5cc06f944",
              "name": "emissao",
              "value": "={{ $json.output.emissao }}",
              "type": "string"
            },
            {
              "id": "da55adc1-c4c5-4a5b-bb81-54b02d06a4c0",
              "name": "valor",
              "value": "={{ $json.output.valor }}",
              "type": "string"
            },
            {
              "id": "0c2715ab-6be1-4039-8eda-b69c708ad3c0",
              "name": "vencimento",
              "value": "={{ $json.output.vencimento }}",
              "type": "string"
            },
            {
              "id": "a1cdeeda-116d-42f0-9f8d-6af106f93c5e",
              "name": "referencia",
              "value": "={{ $json.output.referencia }}",
              "type": "string"
            },
            {
              "id": "cdf72f5a-9f38-4305-a513-87824772bf7a",
              "name": "contrato",
              "value": "={{ $json.output.contrato }}",
              "type": "string"
            },
            {
              "id": "c0bebaad-980d-425d-a55b-0aaa997475b3",
              "name": "codigo_barra",
              "value": "={{ $json.output.codigo_barra }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        480
      ],
      "id": "6a83e9a5-a38a-4d67-8cbf-cbf316ef4996",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dEUTUFakEfUOQX_CmW2S1qilnruEnF7u-BhsvAO9ahg",
          "mode": "list",
          "cachedResultName": "Faturas operadoras",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dEUTUFakEfUOQX_CmW2S1qilnruEnF7u-BhsvAO9ahg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Faturas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dEUTUFakEfUOQX_CmW2S1qilnruEnF7u-BhsvAO9ahg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tipo documento": "={{ $json.tipo_doc }}",
            "CNPJ fornecedor": "={{ $json.CNPJ_fornecedor }}",
            "Razão Social do Fornecedor": "={{ $json.razao_social_fornecedor }}",
            "Razão Social do Sacado": "={{ $json.razao_social_sacado }}",
            "CNPJ do sacado": "={{ String($json.CNPJ_sacado)}}",
            "Endereço da Fatura": "={{ $json.endereco_fatura }}",
            "Numero da Fatura/Nota Fiscal": "={{ $json['numero_fatura/numero NF'] }}",
            "Data de Emissão do Documento": "={{ $json.emissao }}",
            "Valor total a pagar": "={{ $json.valor }}",
            "Data de Vencimento": "={{ $json.vencimento }}",
            "Referência": "={{ $json.referencia }}",
            "Contrato": "={{ $json.contrato }}",
            "Código de barras da fatura": "={{ $json.codigo_barra }}",
            "Endereço de Instalação": "={{ $json.endereco_instalacao }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tipo documento",
              "displayName": "Tipo documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CNPJ fornecedor",
              "displayName": "CNPJ fornecedor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Razão Social do Fornecedor",
              "displayName": "Razão Social do Fornecedor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Razão Social do Sacado",
              "displayName": "Razão Social do Sacado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CNPJ do sacado",
              "displayName": "CNPJ do sacado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Endereço da Fatura",
              "displayName": "Endereço da Fatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Endereço de Instalação",
              "displayName": "Endereço de Instalação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Numero da Fatura/Nota Fiscal",
              "displayName": "Numero da Fatura/Nota Fiscal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data de Emissão do Documento",
              "displayName": "Data de Emissão do Documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor total a pagar",
              "displayName": "Valor total a pagar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data de Vencimento",
              "displayName": "Data de Vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Referência",
              "displayName": "Referência",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contrato",
              "displayName": "Contrato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Código de barras da fatura",
              "displayName": "Código de barras da fatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2384,
        480
      ],
      "id": "1cd0cc9d-9a0d-4123-885a-8af7209d85d2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VTPodq2TM8NkUoYY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2144,
        480
      ],
      "id": "0054773d-4430-4413-9686-f255cc828aed",
      "name": "Limit"
    },
    {
      "parameters": {
        "fileSelector": "/files/naoLidos/*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        432,
        608
      ],
      "id": "d3461cb7-50f5-44c4-8038-2a3d11fbe871",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        224,
        608
      ],
      "id": "88996853-5b44-436b-b8bf-18cd8107d4df",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        608
      ],
      "id": "732607c2-ef43-4e43-a79a-9bfa1d22c712",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "password": "15505"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        560
      ],
      "id": "91e0d7c7-f8fc-4872-b18c-707eabfcb273",
      "name": "Extract from File1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1344,
        480
      ],
      "id": "30423803-06c7-49f4-8fc2-85b52a3a5904",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/lidos/{{ $json['Nome do arquivo'] }}",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2832,
        672
      ],
      "id": "c419211d-e909-4d46-8cd7-d6f40be223c1",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "acda8add-3a5d-4fb7-ad2e-b443eb986d6a",
              "name": "data",
              "value": "={{ $node[\"Loop Over Items\"].binary.data }}",
              "type": "binary"
            },
            {
              "id": "1d64fb04-160e-4755-a60e-4dcc47067b34",
              "name": "Nome do arquivo",
              "value": "={{ $('Read/Write Files from Disk').item.json.fileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2592,
        480
      ],
      "id": "94c2f243-5862-4d9c-97c9-c9ca09af1880",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6fc76cdd-0dab-4b19-aec6-be7759143971",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e7948feed7ad6a9d739915ed2a5fb1a4448b6865bf0a3749eb9703dbe25ec1f"
  },
  "id": "OMTuM1fCXTW1ldDc",
  "tags": []
}